#vcache {
	z-index:100;
	display:none;
	position:fixed;
	background-color:#343434;
	bottom:0;
	width:100%;
	font-color:#BBBBBB;
	color:#BBBBBB;
	font-size:10px;
	padding:5px;
	text-align:center
}

#vcache-closed {
	display:none;
	z-index:100;
	display:block;
	position:fixed;
	background-color:#343434;
	bottom:0;
	width:200px;
	font-color:#BBBBBB;
	color:#BBBBBB;
	font-size:10px;
	padding:5px;
	text-align:center
}
#vinfo {
	z-index:200px;
	height:20px;
}

#vcache-closed .clink, #vcache-closed .cinfo,  #vcache .clink, #vcache .cinfo, a#vcacheopen{
	font-weight:bold;
	color:white;
}
#vcache-closed .clinkClose, #vcache-closed .clinkClose,  #vcache .clinkClose, #vcache .clinkClose {
	font-weight:bold;
	color:white;
}   
